VITE_MSAL_CLIENT_ID=2d7bcc44-8337-42ec-a3e2-6ba7c9bda91f
VITE_MSAL_AUTHORITY=https://login.microsoftonline.com/common
VITE_MSAL_REDIRECT_URI=http://localhost:5173/OrcamentoCRM/
VITE_MSAL_REDIRECT_URI_PROD=https://cleverconnection.github.io/OrcamentoCRM/
VITE_MSAL_SCOPES=User.Read Files.Read Files.Read.All Sites.Read.All
VITE_MSAL_CACHE_LOCATION=localStorage

VITE_ROUTER_BASENAME=/OrcamentoCRM
VITE_APP_TITLE=CRM Orcamentos

VITE_GRAPH_SITE_ID=d21efab6-83a1-47d8-86ec-68296b31442f
VITE_GRAPH_DRIVE_ID=b!tvoe0qGD2EeG7GgpazFEL5xBSoVgpDdMqENBL3FYLvPKjufZ6TUjRq1KvbMjsPUY
VITE_GRAPH_ITEM_ID=01S4Q2WRY2BQNWH4RWMRELZIDQQ6IBN4DW
VITE_GRAPH_SHEET_MATERIAIS=Materiais
VITE_GRAPH_SHEET_SERVICOS=Serviços
VITE_GRAPH_ITEM_CLIENTES=01S4Q2WR3KQZY2UAIZORD2WK5SMBNCSIEU
VITE_GRAPH_SHEET_CLIENTES=Clientes
VITE_PDF_LOGO_DATA=   # opcional: base64 da logo (PNG/JPEG) para a exportação em PDF
